*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.nav-bar{
    list-style:none;
    overflow: auto;
    /* clear:both; */
    background: #333333;
    font-size: 20px;
    text-align: center;
}

.bag-nav-row{
    margin-right: 100px;
}
.title{
    float: left;
    margin-left: 100px;
    font-weight: bold;
    font-size:20px ;
}
.bag-nav{
    float: right;
    
}
.nav-bar li a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
.nav-bar li a:hover{
    background: #444444;
    color:#ecc08a;
}
.nav-bar li a:active{
    background: #444444;
    color:#ecc08a;
}

.mainheader{
     background-image: url("img/showcase.jpg")  ;
   /* background-size:cover;
    
    
    height: 600px; */
    
   
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mainheadertxt{
    margin: auto;
    top:50%;
    position:relative;
    text-align: center;
    /* margin-top: 20px; */
    color:#fff;
}
.mainheadertxt h3{
    font-size:xx-large;

}

.mainheadertxt p{
    margin:20px;
}
.mainheadertxt a{
    position:relative;
    display: block;
    width: fit-content;
    background: #444444;
    text-decoration:none ;
    color: #fff;
    top:50%;
    margin:auto;
    

    padding: 20px;
}
.fword{
    color:#ecc08a
}
.main-content{
    width:100%;
    height:300px;
    overflow: auto;
    background: #444444;
    color: #fff;
}
.hotelimg{
    width:50%;
    float:left;
    height:300px;
    
}
.hotel-disc{
    width:50%;
    float:right;
    text-align: center;
    /* margin-top:px; */
    line-height: 1.5;
    padding:20px;
    
}
.hotel-disc h3{
    font-size: xx-large;
    margin-bottom: 20px;
}
.hotel-disc a{
    position:relative;
    display: block;
    width: fit-content;
    
    text-decoration:none ;
    color: #333333;
    padding: 15px;
    margin:auto;
    margin-top: 20px;
    background: #fff;
    
}

.aside-bar{
    height: 300px;
    overflow: auto;
    clear:both;

}
.ul{
    list-style: none;
    text-align: center;
    margin:auto;
    height:300px;
}
.fli{
    padding: 60px;
    margin: auto;
    float: left;
    width:33%;   
    height: 300px;
    padding: 90px 20px;
}
.fli h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.sli h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.thli h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.sli{
    float:left;
    width:33%;
    background-color:#ecc08a;
    height: 300px;
    padding: 90px 20px;

}
.thli{
    float:right;
    width:33%;
    height: 300px;
    margin: auto;
    height: 300px;
    padding: 90px 20px;
}

footer p{
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: #444444;
    padding: 20px;
}
/* ///////////////about website////////////////// */
.s-header{
    overflow: auto;
    clear: both;
    margin: auto;
    margin: 50px 20%;
}
.header-content{
    float:left;
    width: 30%;
    
}
.header-content p{
    margin-top: 20px;
    line-height: 1.5;
}
.hotel-img2{
    height:250px;
    width: 250px;
    float: right;
    border-radius: 120px;
}
.comment{
    overflow: auto;
    background:#ecc08a;
    margin: 20px 20%;
    border-radius: 20px;

}
.aside-content{
    background-image: url(img/test-bg.jpg) ;
    background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.aside-content h1{
    margin: 20px 20%;
    text-align: center;
    color: #FFF;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 50px;

}
.comment img{
    padding-top: 30px;
width:200px ;
height:200px ;
border-radius: 200px;
float: left;
padding-right: 20px;
padding-left: 20px;
margin-bottom: 50px;
}
.comment p{
padding-top: 100px;
font-size: px;

   
}


