*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.nav-bar{
    list-style:none;
    overflow: auto;
    
}
.nav-bar li{
    float: left;
}
.bag-nav{
    float: right;
}
.nav-bar li a{
    text-decoration: none;
}