*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.nav-bar{
    list-style:none;
    overflow: auto;
    /* clear:both; */
    background: #333333;
}
.title{
    float: left;
}
.bag-nav{
    float: right;
}
.nav-bar li a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
.nav-bar li a:hover{
    background: #444444;
    color:#ecc08a;
}

.mainheader{
     background-image: url("img/showcase.jpg")  ;
   /* background-size:cover;
    
    
    height: 600px; */
    
   
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mainheadertxt{
    margin: auto;
    top:50%;
    position:relative;
    text-align: center;
}
.mainheadertxt a{
    background: #444444;
    text-decoration:none ;
    color: #fff;
    
    padding: 20px;
}
